# Dependencies
node_modules/

# Playwright
test-results/
playwright-report/
playwright/.cache/

# Cucumber
cucumber-report/
reports/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment - IMPORTANTE
.env
.env.local

# Screenshots and videos
screenshots/
videos/
downloads/